body {
	background-color: #E5DDD5;
	font-family: '微軟正黑體'!important;
}

input,select,textarea{
	width: 100%;
	border: 2px solid #aaa;
	border-radius: 4px;
	margin: 8px 0;
	outline: none;
	padding: 8px;
	box-sizing: border-box;
	transition: 0.3s;
}

.center {
	text-align: center;
	margin: auto;
}

.left {
	text-align: left;
}